html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--color-white: #ffffff;
	--color-black: #000000;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--color-white);
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn-reset {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1210px;
}

.app {
	margin: 30px auto;
	padding: 15px;
	width: 50%;
	border: 1px solid var(--color-black);
}

.input {
	margin-bottom: 15px;
	width: 100%;
	height: 35px;
	color: var(--color-black);
}

.joke {
	
}

.joke__item {
	display: flex;
	align-items: center;
	border: 1px solid var(--color-black);
	padding: 5px 10px;
}

.joke__text {
	padding-right: 8px;
}

.joke__item--bg {
	background-color: aqua;
}

.joke__item:not(:last-child) {
	margin-bottom: 15px;
}

.joke__btn {
	margin-left: auto;
}

.svg {
	width: 35px;
	height: 35px;
}

.path-bg {
	fill: #eceff1;
}

.done-bg {
	fill: #888;
}

.text-center {
	text-align: center;
}

.likes {
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 15px;
	width: 50%;
	border: 1px solid var(--color-black);
}

.likes__item:not(:last-child) {
	margin-bottom: 15px;
}